
body {
    background-img src:img/african-womans-heads.jpg;
}

.navbar-nav {
    background-img: url(http://fc09.deviantart.net/fs48/i/2009/202/0/7/Old_Newspaper_Texture_by_powerpuffjazz.jpg);
}

.african-carousel{
    width:100%; /*slider width*/
    height:auto; /*slider height*/
}

.carousel .item img {
    width: 100%; /*img width*/
}

#africa-row {
    margin-top: 90px;
    border-color:darkgoldenrod;
}

#outdoor-block {
    padding:20px;
    font-size: 16px;
    text-align: justify;
    color: black;
    /*border-color:#757575;
    border-width: 3px;
    border-style: solid;*/
    /*background-image: url("http://subtlepatterns.com/patterns/dimension.png"); url("http://subtlepatterns.com/patterns/skulls.png");*/
    background-color:#EECBAD; #E3E3E3; #EEE8AA;
}

#outdoor-block a {
    font-weight: bold;
}


/*#africa-block .africa-description {
    font-size: 16px;
    color: black;
    font-weight: bold;
}*/

.arrow-explain {
    font-size: 30px;
    color: dimgrey;
}


.outdoor-description {
    border-color: darkgoldenrod;
}

.outdoor-description h4 {
    font-weight: bold;
    margin-top: 20px;

}

.cassette-african-projects {
    height: 60px;
    width: auto;
    text-align: center;
    background-color: palegoldenrod;
    /*padding-top: 5px;*/
    margin-bottom: 100px;
    padding-top: 5px;
}

#cassette1 {text-align: center;
}

#cassette1:hover {
    background-color: goldenrod;
}

#story2 {
    margin-top: 150px;
}

#cassette2 {
    background-color: orange;
}

#cassette2:hover {
    background-color: darkorange;
}

#story3 {
    margin-top: 150px;
}

#cassette3 {
    background-color: steelblue;
}

#cassette3:hover {
    background-color: dodgerblue;
}

.inside-box{
    font-size: 25px;
    text-align: center;
    padding-right: 7px;
}

#textile-strip img {

    height:120px; /*slider height*/
    margin-top: -21px;
    border-style: solid;
    border-color: #5C5C5C;
}

#textile-strip-feet img {

    height:120px; /*slider height*/
    margin-top:20px;
    border-style: solid;
    border-color: #5C5C5C;
}
