
body {
    font-family: "Helvetica Neue",sans-serif;  /*"Conv_AvenirLTStd-Book",Sans-Serif;*/
    background-image: url(http://www.bridgecafe.co.nz/images/hess_sm_tr3.jpg);
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
}

.titlu_middle{
    text-align:center;
    font-size:25px;
    text-align:center;
    padding-bottom: 60px;
    margin-top:200px;
}

.titlu_middle a {
    text-decoration:none;
    color: dimgrey;
}
/* Page Header*/

.page-header {
    font-size:25px;
    color: #808080;
    font-weight:bold;
}

.page-header h1 .smalltitle {
    font-size: 30px;
}


/* Menu */

.navbar-default-upmenu {
    background-color: white;
    border: none;
}


.navbar-nav li{
    font-family:"Conv_AvenirLTStd-Heavy",Sans-Serif;
    font-size:16px;
    text-transform:uppercase;
    color: lightseagreen;
    margin-left:30px;
    margin-right:30px;
}

.navbar-nav.sigla {
    font-size: 28px;
    font-weight: bold;
    color: darkgoldenrod;
    opacity: 80;
}

.navbar-nav a:hover {
    color:lawngreen;
}

.raw-backinfos {
    background-color: #808080;
}


.navbar-nav li a:link {
    text-decoration:none;
    color: black;
}


/* Image Carousel*/

.img-responsive-staticbanner {
    width:100%;
    height:320px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 500px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}

.carousel-caption .text-slide {
    font-family: Great Vibes;
}


/* Our VISION */
#vision-text {
    line-height: 3;
}


/* PROJECTS */


.img-responsive-projects {
    width:100%;
    height:233px;
}

.text-block-projects {
    /*background:#CDAD00;	;  ; ; ;;/*#66CD00 - light green*/
    height:370px;
    padding:6px 6px 0px 6px;
    text-align:center;
    margin-top: 10px;
    color:white;
    border-radius:2px;
    width: 100%;
    margin-bottom: 30px;
}



.btn-default-more-info {
    font-size: 16px;
    text-align:left;
    margin-bottom:100px;
}

#img1 {
    background-color:#60ad47;
}

#img1:hover {
    background-color:#9ACD32;
    text-decoration: none !important;
}

#img2 {
    background-color: #CDAD00;
}

#img2:hover {
    background-color: #FFB90F;
}

#img3 {
    background-color:#53868B;
}

#img3:hover {
    background-color:#03A89E;
}

#img4 {
    background-color: #388E8E;
}

#img4:hover {
    background-color:# #3CB371; #66CDAA; #48D1CC;
}

#img5 {
    background-color:#525252; #20B2AA; #9ACD32;
}

#img5:hover {
    background-color:#3CB371;
}

#img6 {
    background-color:limegreen;
}

#img6:hover {
    background-color:#66CD00;
}


/*Our TEAM*/

.img-circle {
    margin-left: 50px;
}

.member-text {
    text-align: center;
}


.col-md-6-vision {
    text-align: center;
}

.col-md-6-vision p {
    line-height:100%;
}


/*FOOTER*/

footer {
    background-color: #333;
    width: 100%;
    height: 300px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 80px;
    color: white;
    padding: 80px 0 40px 0;
}



/*a:hover {text-decoration:none;
         color:darkviolet;
}

a:visited {color: greenyellow;
} */









/* PROJECTS - ALTERNATIVES
.block-projects {
    height:350px;
    background-color: #333;
    text-align: center;
    color: #ffffff;
}

.block-projects:hover {
    background-color: goldenrod !important;
    text-decoration: none !important;
}


.row-projects a:hover {
    text-decoration: none !important;
}

.text-block-projects1 {
    text-align: center;
    color: #ffffff;
}

.text-block {
    color: greenyellow;
}

.btn-default-more-info {
    font-size: 16px;
    text-align:left;
    margin-bottom:100px;
}


 /*.contentPanel {
    background-color: green;
}

.textContent {
    height: 100px;
}

.textContent p {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding:8px 8px 0px 8px;
}

.contentPanel:hover {
    background-color: goldenrod !important;
    text-decoration: none !important;
}
 */





/*body {

color: #fff;
font-family: "Conv_Avenir LTStd-Book",Sans-Serif;
font-size: 14px;
letter-spacing: 1px;
line-height: 26px;
}

.navbar-static-top {position: static;
                    margin-bottom: 0;
}

.navbar {overflow: visible;
}

div {display: block;
}

.navbar-inner {min-height: 120px;
padding-left: 20px;
padding-right: 20px;
background: #fff;
}

.navbar-static-top .container {width: 940;
}

.container {margin-right: auto;
            margin-left: auto;
}

.navbar .btn-navbar {
display: none;
float: right;
padding: 7px 10px;
margin-left: 5px;
margin-right: 5px;
background: 0;
border: 0;
}

.navbar .brand {
float: left;
display: block;
position: absolute;
z-index: 1500;
padding: 0 0 -20px 0;
font-size: 20px;
text-shadow: 0 1px 0 #fff;
}

.nav-collapse.collapse {
height: auto!important;
overflow: visible!important;
}

*/